<!DOCTYPE>
{% load staticfiles %}

<html>
	<head>
		<title>Propiedades</title>
            <meta charset="utf-8" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'propiedad/style.css' %}">

	</head>
    <body>
    <div id="app" class="contenedor">
        <h1>[[ message ]]</h1>
        <div>

                <propiedad-elemento
                    v-for="propiedad in listaPropiedad"
                    v-bind:elemento="propiedad"></propiedad-elemento>
        </div>
    </div>
    </body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'propiedad/index.js' %}"></script>
</html>





