<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema Reporte</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

</head>
<body>
<div class="contenedor">
    <div id="app" class="contenedor_data">
        <h1>[[ message ]]</h1>

                <propiedad-elemento
                    v-for="propiedad in listaPropiedad"
                    v-bind:elemento="propiedad"></propiedad-elemento>
    </div>
</div>
</body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/index.js"></script>
</html>
