*{
    padding:0;
    margin:0;
    border:0;
    font-family: 'Roboto Condensed', sans-serif;
}
 body{
     background-color:#9a8a78;
 }

 div.contenedor{
     margin:0 auto;
     background-color: #ffffff;
     width:75%;
     height: 100%;
     box-shadow: 1px 1px 1px 1px #ffffff;
 }
div.contenedor::after {
    content: "";
    display: block;
    clear: both;
}
 div.contenedor h1{
     color:#211C19;
     text-align: center;
     font-family: Verdana, sans-serif;
     margin-bottom: 15px;
 }

div.contenedor_data{
    margin:0 auto;
    width:60%;
    height:100%;
    //background-color: #989FCE;
}
div.contenedor h2{
    font-family: Verdana, sans-serif;
    color:#347FC4;
    text-align:left;

}
div.htpropiedad{
     background-color: #A0E5CE;
     margin-bottom:10px;
     padding: 15px 15px;
     width:100%;

}
div.htpropiedad h1{
     color: #006d66;

}
div.htpropiedad p{
     color:#211C19;
}
span{
font-weight:bold;
}